/*
 Author: Alexander Berglund
 
 Contact: alexander.berglund@gbg.nti.se
 
 Description: Documentation of your work is crucial. Don't forget this.
 This CSS-document was created with purpose of set a foundation for what you can
 do with the technology and is to considered as such.
 
*/

body {
 background-color: #4bd4ed;
 color: #fffff;
}

#mainNav li {
	border: 1px solid #000;
}

#container {
 border: 1px solid #ff0000;
}

.informationbox {
 color: #f00;
}
 
  /*
  
  Multiple line comment.
  Don't forget to close it.
 
 */